<h1>Eat Da Burger!</h1>

<h2>Burgers to eat:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/ devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that were already devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/ devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="new">What kind of burger do you want to eat? (Go crazy!)</label>
    <input type="text" id="new" name="burger_name">
  </div>

  <div class="form-group">
    <label for="eat">Devoured yet?</label><br>
    <input type="radio" name="devoured" value="1" checked> Gone!<br>
    <input type="radio" name="devoured" value="0"> Ready to eat!
  </div>

  <button type="submit">Add Burger</button>
</form>
